site_name: sns_mlops
site_author: yayi_wang
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Pipeline: pipeline.md
  - Experiments: experiments.md
  - API Reference: api.md
