name: Unit Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    env:
      HF_HUB_OFFLINE: "1"
      TRANSFORMERS_OFFLINE: "1"
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt
            requirements_dev.txt
            pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install -r requirements.txt -r requirements_dev.txt
          pip install -e .
          pip list


      - name: Run tests & coverage
        run: |
          coverage run --source=sns_mlops -m pytest -q
          coverage report -m
          coverage xml -o coverage.xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ matrix.operating-system }}-py${{ matrix.python-version }}
          path: coverage.xml
